*.pch
*.opensdf
*.ipch
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.pdb
*.user
*.aps
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.sdf
*.ilk
*.log
[Bb]in
InturlamDressingRoom/Debug*/
*.lib
*.sbr
*.csv
*.exe
obj/
InturlamDressingRoom/Release*/
_ReSharper*/
[Tt]est[Rr]esult*
InturlamDressingRoom.sdf
